services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: chaster-app
    ports:
      - "3000:3000"
    volumes:
      - ./data:/app/data
    restart: always
    environment:
      - NODE_ENV=production
